#header {
    background-color: midnightblue;
    color: silver;
    text-align: center;
}

#main{
    background-color: lightgray;
    padding: 1em;
}

body{
    background-image: url(record.png);
    margin: 0;
}